<html lang="ja">
    <body>
<link rel="stylesheet" type="text/css" href="../../static/css/before.css">
<div class="login">
    <h1>まちたん！ラクラク予約</h1>
    <div class="login_select">
        <h2>ログイン / 新規登録</h2>
        <div class="login_select_detail">
            <ul>
                <li id="left"><a href="#"><img src="../../static/img/にくきゅう（大）.png" id="img_left"><span>利用者の方はこちら</span></a></li>
                <li id="right"><a href="#"><img src="../../static/img/にくきゅう（大）.png" id="img_right"><span>動物病院の方はこちら</span></a></li>
            </ul>
        </div>
    </div>
    <footer>
        <p class="bottom">&copy; speedreserve . All Rights Reversed</p>
    </footer>
</div>
</body>
</html>